.header-container {
    position: fixed;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 2px solid white;
    z-index: 1000;
    top: 0;
  left: 0;
  right: 0;
  background-color: rgb(23, 22, 22);
}

.title {
    margin: 0;
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
    font-size: 40px;
  }
  

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 1001;
    
  }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: rgb(40, 39, 39);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    padding-top: 100px;
  }

.sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar.close {
    transform: translateX(-100%);
  }

  h1 {
    color: coral;
  }

  .courses {
    border-bottom: solid 2px white;
    padding-bottom: 10px;
  }